/* Default styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --color-primary: #e0ac1c;
    --color-secondary: #2d2a30;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-text: #2d2a30;
    --btn-hover: #be8c00;
    --typography-primary-font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:hover{
    transition: all 0.3s ease-in-out;
}


h1 {
    font-family: var(--typography-primary-font-family);
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    color: var(--color-primary);
}

h2 {
    font-family: var(--typography-primary-font-family);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--color-secondary);
}

h3 {
    font-family: var(--typography-primary-font-family);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-secondary);
}

h4 {
    font-family: var(--typography-primary-font-family);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--color-primary);
}

h5 {
    font-family: var(--typography-primary-font-family);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--color-secondary);
    border-bottom: 3px solid var(--color-primary);
    padding-bottom: 10px;
}

h6 {
    font-family: var(--typography-primary-font-family);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-primary);
}

p {
    font-family: var(--typography-primary-font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-text);
}

a {
    font-family: var(--typography-primary-font-family);
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-primary);
}

ul , li {
    font-family: var(--typography-primary-font-family);
}

dt ,dl {
    font-family: var(--typography-primary-font-family);
    font-size: 1 rem;
}

dt {
    font-weight: 700;
    margin-top: 0.5rem;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figurecaption {
    font-family: var(--typography-primary-font-family);
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

caption {
    font-family: var(--typography-primary-font-family);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    border-radius: 5px;
}


/* Set default styles for layout */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0;
}

.col {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15px;
    flex: 1;
    padding: 1rem;
}

.col-2 {
    flex: 2;
}



/* Set default styles for buttons */

button {
    font-family: var(--typography-primary-font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    padding: 0.7rem 1.3rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-hover);
}


/* Set default styles for forms */



form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-container{
    justify-content: center;
}

.form-control {
    margin-bottom: 1rem;
}

form label, legend {
    font-family: var(--typography-primary-font-family);
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
}

fieldset {
    padding: 1rem;
    border:1px solid var(--color-text);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
}

fieldset label{
    margin-right: 10px;
}

form input {
    font-family: var(--typography-primary-font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-secondary);
    padding: .8rem 1rem;
    border: 1px solid var(--color-text);
    border-radius: 0.25rem;
}

form input:focus {
    outline: none;
    border-color: var(--color-primary);
}

form input::placeholder {
    color: var(--color-text);
}

form select {
    font-family: var(--typography-primary-font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-secondary);
    padding: .8rem 1rem;
    border: 1px solid var(--color-text);
    border-radius: 0.25rem;
}

.checkbox-label {
    margin-right: 10px;
    font-weight: 500;
}

form textarea {
    font-family: var(--typography-primary-font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-text);
    border-radius: 0.25rem;
}

form textarea:focus {
    outline: none;
    border-color: var(--color-primary);
}

form textarea::placeholder {
    color: var(--color-grey01);
}

form input[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 0.8rem 1.3rem;
    border-radius: 0.25rem;
    cursor: pointer;

}

form input[type="submit"]:hover {
    background-color: var(--btn-hover);
}

/* Set default styles for Tables */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
}

table th {
    font-family: var(--typography-primary-font-family);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-secondary);
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--color-text);
}   

table td {
    font-family: var(--typography-primary-font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-secondary);
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--color-text);
}


/* Header Section */

header {
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 9;
    background-color: var(--color-secondary);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .container .col:not(:first-child){
    justify-content: flex-end;
    
}

header .container .col:nth-child(1){
    flex: 2;
}

header .container .col:nth-child(2){
    flex: 6;
}

header .container .col:nth-child(3){
    flex: 1;
}

.logo a h3{
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.logo span{
    color: var(--color-primary);

}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin: 0 1rem;
}

nav .links li {
    list-style: none;
}


.hamburger, #mobile-menu {
    display: none;
}

#desktop-menu li a{
    color: var(--color-white);
}

#desktop-menu li a:hover{
    color: var(--color-primary);
}

#mobile-menu {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    background-color: var(--color-secondary);
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  
}




#mobile-menu li a{
    color: var(--color-white);
}

#mobile-menu li a:hover {
    color: var(--color-primary);
}

/* Hero Section */

.hero {
    height: 700px;
    max-width: 100%;
    background: url(./images/home-hero.webp),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h5 {
    color: var(--color-white);
}

.hero p{
    color: var(--color-white);
}


/* Vision Mission Section */

.vision-mission > .col{
    justify-content: center;
}


/* Jobs Page Styles */


.hero-section {
    height: 400px;
    max-width: 100%;
    background: url(./images/home-hero.webp),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .col{
    flex-direction: column;
    justify-content: center;
}

.hero-section h1, .hero-section p{
    text-align: center;
}

.hero-section p{
    color: var(--color-white);
}


.job-card {
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    animation-duration: 0.7s;
    animation-name: down-to-up;
    animation-fill-mode: backwards;
}

.job-card:nth-child(2){
    animation-delay: 0.2s;
}

.job-card:nth-child(3){
    animation-delay: 0.4s;
}

.job-card:nth-child(4){
    animation-delay: 0.6s;
}

@keyframes down-to-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.job-card:hover{
    transform: scale(1.03);
}

.job-card button {
    width: 100%;
}

.jt-1{
    background: url(./images/marketing-manager.webp);
}

.jt-2{
    background: url(./images/web-developer.webp);
}

.jt-3{
    background: url(./images/Executives\ Manager.webp);
}

.jt-4{
    background: url(./images/front-end\ developer.webp);
}

.job-thumbnail{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

.job-content-col{
    gap: 30px;
}

.job-content{
    padding: 3rem;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}

.job-content h2 , .job-content h3{
    margin-bottom: 1rem;
}

.job-content h4 , .job-content h4{
    margin: 1rem 0;
}

.job-content h5{
    margin: 1rem 0;
}

.job-content button{
    margin-top: 1rem;
    padding: 0.7rem 2rem;

}






/* About page styles */

.about-col {
    flex-direction: column;
}

.my-details  {
    margin: 1rem .5rem;
}

.about-text {
    color: var(--color-black);
}


.table-row-1 {
    margin: 5rem 0 0 0;
}

.table-row-2 {
    margin: 0 0 5rem 0;
}

/* Footer Styles */

  
  
  .footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: .5px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 30%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  
  .footer-distributed h3 span {
    color: #e0ac1c;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 30%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
  }
  
  .footer-links a:hover {
    color: #3F71EA;
  }
  
  
  
