
   
    @media screen and (max-width: 768px) {
        nav .logo {
            float: none;
            width: auto;
            justify-content: center;
        }
        nav .links {
            float: none;
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 100px;
            bottom: 100%;
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(0,0,0,.8);
            overflow: hidden;
            box-sizing: border-box;
            transition: all .5s ease-in-out;
        }
        nav .links a {
            font-size: 20px;
        }
        nav :checked ~ .links {
            bottom: 0;
        }
        nav .icon-burger {
            display: block;
        }
        nav :checked ~ .icon-burger .line:nth-child(1) {
            transform: translateY(10px) rotate(225deg);
        }
        nav :checked ~ .icon-burger .line:nth-child(3) {
            transform: translateY(-10px) rotate(-225deg);
        }
        nav :checked ~ .icon-burger .line:nth-child(2) {
            opacity: 0;
        }

        .row {
            flex-direction: column;
        }
        
        
    }
=======
/* Navbar Mobile Responsive Script */

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    
}


/* Footer section */

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}    

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}



