@media screen and (max-width: 768px) {


    /* Header section */

    .logo a h3 {
        font-size: 29px;
    }


    .row {
        flex-direction: column;
    }

    .reversed-row {
        flex-direction: column-reverse;
    }

    header .container .col{
        padding: 0;
    }

    header .container .col:last-child{
        padding-left: 20px;
    }
    
    


    /* Form Style */

    form {
        width: 100%;
    }

    /* Table style */

    table th,
    table td {
        font-size: .75rem;
    }



}



@media (max-width: 880px) {

    /* Navbar Mobile Responsive Script */

    #desktop-menu {
        display: none;
    }

    nav .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    nav .dropdown ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    nav .dropdown ul li {
        margin: 10px 0;
    }

    nav .dropdown ul li a {
        display: block;
        padding: 5px 10px;
        border-radius: 3px;
    }


    .dropdown:focus-within #mobile-menu {
        display: block;
    }

    /* Footer section */

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media (max-height:800px) {
    footer {
        position: static;
    }


}