
/* Set default padding and marging */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */
 header{
    width: 100vw;
    height: 100vh;
    background-image: url(images/Home\ Background.jpg);
    background-size: cover;
    background-position: bottom;
    justify-content: center;
    display: flex;
    align-items: flex-end;

 }

 /* Remove underline in all anchor tag  */
  a {
    text-decoration: none; 

 }

 .header-content {
    margin-bottom: 150px;
    color:azure;
    text-align: center;
 }

 .header-content h2 {
    font-size: 3vmin;
    margin-bottom: 1rem;
 }

 .line {
    height: 4px;
    width: 150px;
    background: #f7ec20;
    margin: 10px auto;
    border-radius: 5px;
 }

 .header-content h1 {
    font-size: 7vmin;
    margin-bottom: 30px;
    margin-top: 50px;
 }

 .info {
    background: #f7ec20;
    padding: 8px 15px;
    border-radius: 30px;
    color: azure;
 }

    /* Navbar */

    .navbar {
        width: 100%;
        padding: 20px;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        justify-content: space-between;
        color : azure;
    }

    /* Navbar Unorder list embeded links */
    .nav-links {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        /* width: 40%; */
    }

    .nav-links li {
        
        margin-right: 0 30px;
    }



    ul {
        
        list-style: none;
    }

    /* Navbar */

 .selected {
    background: #f7ec20;
    text-decoration: underline;
    font-weight: bold;
    
 }

/* Header Section */


/* Footer section */
.footer-container{
  background-color: #414141;  
  padding-bottom: 2rem 0rem 4rem 0rem;
}

.footer {
    width : 80%;
    height: 40vh;
    background-color: #414141;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: #f1c40f;
    transition: 0.3s ease-in-out;
}

.footer-email-form h2{
    margin-bottom: 2rem;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline : none;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

#footer-email::placeholder{
    color: #4a4848a1;
}

#footer-email-submit{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline : none;
    font-size: 1rem;
    background-color: #f1c40f;
    color: #fff;
    cursor: pointer;
}

#footer-email-submit:hover{
    background-color: #f39c12;
    transition: 0.4s ease-in-out;
}
/* Footer section */
