/* Set default padding and marging */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.footer-container{
  background-color: #414141;  
  padding-bottom: 4rem;
}

.footer {
    width : 80%;
    height: 40vh;
    bacjground-color: #414141;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: #f1c40f;
    transition: 0.3s ease-in-out;
}

.footer-email-form h2{
    margin-bottom: 2rem;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline : none;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

#footer-email::placeholder{
    color: #4a4848a1;
}

#footer-email-submit{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline : none;
    font-size: 1rem;
    background-color: #f1c40f;
    color: #fff;
    cursor: pointer;
}

#footer-email-submit:hover{
    background-color: #f39c12;
    transition: 0.4s ease-in-out;
}

